PartimeSalaryWithTdd/PartimeSalaryWithTdd.Tests/bin/
PartimeSalaryWithTdd/PartimeSalaryWithTdd/obj/
PartimeSalaryWithTdd/PartimeSalaryWithTdd/bin/
PartimeSalaryWithTdd/PartimeSalaryWithTdd.Tests/obj/
